body {
    background: #28273E;
}

img {
    vertical-align: middle;
    border-style: none;

}

a.nav-link {
    color: white;
    margin: 15px;
}

button.navbar-toggler {
    background-color: white;
}

ul.navbar-nav.mr-auto.mt-2.mt-lg-0 {
    margin-left: 18%;
}

button.btn.btn-outline-success {
    background: #5A5A8F;
    color: white;
    border-color: #5A5A8F;
}
img.u-expanded-width.u-image.u-image-contain.u-image-1 {
    width: 100%;
}
.u-sheet:not(.u-image):not(.u-video) {
    pointer-events: none;
}
.u-container-layout.u-valign-middle.u-container-layout-1 {
    color: white;
}
#btn55{
background-color:#FF7228;
 color:white;
}
section#sec-45f1 {
    margin-bottom: 15%;
}
h1{
    color: white;
}
h6{
    color: #FF7228;
}
h3 {
    color: white;
}
p {
    color: white;
}