body {
    background: #28273E;
}

#img1 {
    padding-left: 9px;
    width: 25%;
}

h6 {
    color: #FF7228;
}

#oo {
    vertical-align: middle;
    border-style: none;
    padding-left: 96px;
}

a.nav-link {
    color: white;
    margin: 15px;
}

ul.navbar-nav.mr-auto.mt-2.mt-lg-0 {
    margin-left: 18%;
}

button.btn.btn-outline-success {
    background: #5A5A8F;
    color: white;
    border-color: #5A5A8F;
}

form.form-inline {
    padding-right: 14%;
}

nav.navbar.navbar-expand-lg.navbar {
    margin-bottom: 65px;
}

h2 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

h5 {
    color: #FF7228;
}

#con {

    margin-bottom: 100px;

}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.block {
    background: #28273E;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.b-r {
    border-right: 1px solid #5A5A8F;
}

.block.d-inline-flex {
    box-shadow: 0px 1px 9px 3px rgba(219, 210, 219, 1);
}

.text-muted {
    text-align: initial;
}

a.btn.btn-primary.btn-lg.active {
    margin-left: 44%;
    margin-top: 38px;

}

span.h1 {
    color: white;
}

#btn1 {
    background: -webkit-linear-gradient(right, #772900, #9f01ea, #56d8e4, #9f01ea);
    width: 100%;

}

#oi {
    color: #5A5A8F;
}

a.text {
    color: #5A5A8F;
}
.snip1527 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    float: left;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    margin: 10px 1%;
    max-width: 310px;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}

.snip1527 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.snip1527 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
}

.snip1527 figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}


.snip1527 .date {
    background-color: #fff;
    border-radius: 50%;
    color: #700877;
    font-size: 18px;
    font-weight: 700;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: -25px;
}

.snip1527 .date span {
    display: block;
    line-height: 14px;
}

.snip1527 .date .month {
    font-size: 11px;
}

.snip1527 h3,
.snip1527 p {
    margin: 0;
    padding: 0;
}

.snip1527 h3 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
}
.snip1527 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

img {
    border-radius: 5px;
}

img {
    border-radius: 5px;
}